@charset 'utf-8';

/*  디자인 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
ol,
li {
    list-style: none; /* lisn */
}
img {
    vertical-align: top; /* vat */
}
body {
    font: 16px/1.4 "맑은 고딕", "Malgun Gothic", sans-serif;
    color: #666;
    letter-spacing: -1.5px; /* lts-1.5 */
    word-break: keep-all; /* wbka */
}

a {
    text-decoration: auto; /* tda */
    color: inherit;
}
a :hover {
    text-emphasis: none;
    color: #434159;
}

.info {
    /* w1180+m0-a+bg#ff5 */
    width: 1180px;
    margin: 50px auto;
    background: #ff5;

    padding: 42px 0;
}

.info h1 {
    text-align: center; /* tac: 블록요소는 감싸는 인라인 요소의 가운데 정렬 */
    font-weight: normal; /* fwn */
    font-size: 40px;
    color: #ea002e;
}

.info-list {
    /* background: green; bg */
    display: flex; /* df */

    justify-content: space-between; /* jcsb: 남은 여백을 골고구 나누는 */
    margin-top: 36px; /* mt36 */
}
.info-list li {
    /* border: 1px solid #000; bd */

    /* w280+h185+bg#fff */
    width: 280px;
    height: 185px;
    background: #fff;
}

.info-list li dl dt {
    padding: 11px 20px 13px; /* p11-20-13 */
    background: #434159;
    color: #fff; /* c#fff */

    position: relative; /* posr: 직계 자손 절대배치의 기준점 */
}

/* 가상요소 */

.info-list li dl dt::after {
    content: ""; /* ct */
    display: block; /* db */
    /* w15+h15+bgred */
    width: 15px;
    height: 15px;
    background: url(../images/alpha_pointer.png) no-repeat 0 0;

    position: absolute; /* posa */
    bottom: -15px;
    left: 20px;
}

.info-list li dl dd {
    padding: 21px 20px; /* p21-20 */
}

/* hover */
.info-list li:hover dl dt {
    background: #ea002c;
}

.info-list li:hover dl dt::after {
    background-position: 0 -15px; /* bgp */
}
.test {
    width: 50px;
    height: 50px;
    background: url(../images/sp_main.3e7d337e.png) no-repeat -150px -693px;
    margin: 50px auto;
}

.test2 {
    width: 133px;
    height: 133px;
    background: url(../images/sp_main.3e7d337e.png) no-repeat -3px -3px; /* 왼쪽 기준 가로 ,세로 (위) */
    margin: 50px auto;
}
