@charset 'utf-8';

/* 디자인 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none; /* lisn */
}

img {
  vertical-align: top; /* vat */
}

body {
  font: 15px/1.6 sans-serif; /* f */
  color: #666; /* c#666 */
}
.home-service {
  /* w1085+m0-a+bg#ff5 */
  width: 1085px;
  margin: 0 auto;
  /* background: #ff5; */

  padding: 45px 0; /* p45-0 */
  text-align: center; /* tac */
}

.title-box {
  /* background: #f00; bg#f00 */
  text-align: center; /* tac */
}
.title-box h2 {
  /* fz24+c */
  font-size: 24px;
  color: #000;
}
.title-box p {
  /* mt10 */
  margin-top: 10px;
}
.home-service ul {
  /* background: #5f5; bg#f5 */
  margin-top: 35px; /* mt35 */

  display: flex; /* df */
  justify-content: space-between; /* jcsb */
}

.home-service ul li {
  /* w301+h394+bd */
  width: 301px;
  height: 394px;
  /* border: 1px solid #000; */
}

.home-service ul li dl {
  margin-top: 10px; /* mt10 */
}
.home-service ul li dl dt {
  /* fz18+c */
  font-size: 18px;
  color: #000;
}
.home-service ul li dl dd {
  margin-top: 10px; /* mt10 */
}
.process {
  background: #f7f7f7;
  padding: 100px 0;
}
.process .inner {
  /* w1131+m0-a+bg#5f5 */
  width: 1131px;
  margin: 0 auto;
}

.process ol {
  background: #5f5;
  display: flex;
  justify-content: space-between; /* jcsb */
  margin-top: 40px; /* mt40 */
}

.process ol li {
  border: 1px solid #000; /* bd */
  /* w342+h354+bg#fff+bdrs10 */
  width: 342px;
  height: 354px;
  background: #fff;
  border-radius: 10px;

  /* p50-25-40 ,탑 바텀 좌우 순서대로 */
  padding: 50px 25px 40px;
  text-align: center;
}

.process ol li strong {
  color: #f00;
}
.process ol li strong::after {
  content: "";
  /* db+w110+h110+bg */
  display: block;
  width: 110px;
  height: 110px;

  /* m30-a-0 */
  margin: 30px auto 0;
}
.process ol li:nth-child(1) strong::after {
  background: url(../images/buy_step1.png) no-repeat 0 0;
}
.process ol li:nth-child(2) strong::after {
  background: url(../images/buy_step2.png) no-repeat 0 0;
}
.process ol li:nth-child(3) strong::after {
  background: url(../images/buy_step3.png) no-repeat 0 0;
}
.process ol li h3 {
  margin-top: 20px;
}
.process ol li p {
  margin-top: 15px;
}

/* 가상요소 ::이게 두개일 때 가상요소 */
/* .process ol li h3::before {
  content: "BEFORT"; 
  color: red;
  font-size: 30px;
}

.process ol li h3::after {
  content: ""; 
  display: block; 
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #000;
} */
