@charset 'utf-8';

.sub-visual {
    max-width: 192rem;
    height: 36rem;
    margin: 0 auto;
    background: #000 no-repeat 0 0 / cover;

    animation: revaelAni 2s;
}

/* 개별 이미지 주기 */
.company .sub-visual {
    background-image: url(../img/sub-visual1.jpg);
}
.franchise .sub-visual {
    background-image: url(../img/sub-visual2.jpg);
}
.notice .sub-visual {
    background-image: url(../img/sub-visual3.jpg);
}
.financial .sub-visual {
    background-image: url(../img/sub-visual4.jpg);
}
.login .sub-visual {
    background: #fff;
}

.login .sub-title h2 {
    color: #000;
}

.login .sub-title h2::before {
    background: #000;
}

.sub-visual .inner {
    height: 100%;
    display: flex;
    align-items: center;

    /* 마우스와 관계없는 요소로 만들기 */
    pointer-events: none;
    user-select: none;
}

.sub-visual + section {
    /* 서브나 공통적으로 메인에 주는 페딩 값 */
    padding: 12rem 0 22rem;
}

.sub-title h2 {
    /* fw900+fz6r+c#fff */
    font-weight: 900;
    font-size: 6rem;
    color: #fff;
}

.sub-title h2 b {
    /* 애니메이션 적용 */
    display: block;
    animation: slideLeft 0.6s 2s both;

    /* 마우스와 관계없는 요소로 만들기 */
    pointer-events: none;
    user-select: none;
}

.sub-title h2::before {
    content: "";
    display: block;
    /* w5.6r+h.6r+bg#fff */
    width: 5.6rem;
    height: 0.6rem;
    background: #fff;

    animation: slideLeft 0.6s 2.3s both;
}

.sec-title {
    text-align: center;
    font-weight: 700;
    font-size: 5rem;
    color: var(--title-color);
}

/* ceo 인사말 */
.greeting-con {
    /* background: rgb(0, 255, 0); */
    display: flex; /* 시작 지점을 기준으로 가로 축 정렬이 됨 */
    justify-content: space-between; /* jcsb */
    margin-top: 8rem;
}

.greeting-con figure {
    /* border: 1px solid #000; */
    width: 49rem;
}

.greeting-con .greeting-text {
    /* border: 1px solid #000; */
    width: 77rem;
}

.greeting-con .greeting-text h4 {
    font-weight: 900;
    font-size: 6rem;
    color: var(--title-color);
}
.greeting-con .greeting-text h5 {
    font-weight: 600;
    font-size: 3rem;
    color: var(--main-color);
    margin-top: 3.2rem;
}
.greeting-con .greeting-text p {
    font-weight: 500;
    font-size: 2rem;
    color: var(--title-color);
    margin-top: 3.2rem;
}
.greeting-con .greeting-text .ceo-sing {
    display: block;
    margin-top: 3.2rem;
}

/* 가맹점 개설 절차 */

.porcess-lisy {
    display: flex; /* 가로 정렬이 되도록 부모에게 주는 */
    /* background: #5f5; */
    flex-wrap: wrap; /* fxww */
    gap: 4rem 7.2rem; /* x축 방향 먼저, 그리도 갭으로 주는건 반응형 할때를 위해*/
    margin-top: 8rem;

    /* 1.카운터 정의 */
    counter-reset: porcess-count;
}

.porcess-lisy li {
    border-top: 3px solid var(--title-color);
    width: 40rem;
    height: 30rem;
    background: #fff;
    padding: 3rem 0; /* 위 아래만 3r씩 주기 */

    /* 2 증가 시김 */
    counter-increment: porcess-count;
}

.porcess-lisy li dl dt {
    font-weight: 700;
    font-size: 4rem;
    color: var(--main-color);
    display: flex;
    gap: 2.8rem;

    /* dt::after 절대 배치의 기준점 */
    position: relative;
}

.porcess-lisy li dl dt::before {
    /* 증가시킨 카운터 표시 */
    content: counter(porcess-count) ".";
}

.porcess-lisy li dl dt::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 45%;
    background: #4fffe2;
    opacity: 0.4;
}

.porcess-lisy li:hover dl dt::after {
    width: 90%;
    transition: 0.4s;
}

.porcess-lisy li dl dd {
    font-weight: 500;
    font-size: 2rem;
    margin-top: 1.6rem;
    color: var(--text-color);
}

/* SNS */
.sns-list {
    display: flex;
    flex-wrap: wrap; /* fxww: 줄바꿈 명령 */
    gap: 1.9rem;

    /* background: #00ff00; */
    margin-top: 8rem;
}

.sns-list li {
    /* fx1-1-a */
    flex: 1 1 22%;

    border: 1px solid rgba(0, 0, 0, 0.2);
    /* width: 25.5rem; */
    /* height: 25.5rem; */
    aspect-ratio: 1/1; /* asr: 가로를 기준으로 한 한 세로의 비율 (종횡비)  */

    position: relative;
}

.sns-list li figure {
    height: 100%;
}

.sns-con {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: linear-gradient(45deg, red, blue, green); */

    background: rgb(124, 12, 254);
    background: linear-gradient(
        333deg,
        rgba(124, 12, 254, 0.8) 0%,
        rgba(252, 0, 206, 0.8) 34%,
        rgba(255, 20, 58, 0.8) 66%,
        rgba(255, 185, 3, 0.8) 100%
    );

    opacity: 0;
    transition: 0.4s;

    padding: 2rem;
    color: #f7e7eb;

    display: flex;
    justify-content: center;
    align-items: center;
}

.category {
    position: absolute;

    /* t2r+l2r+w3.8r+h3.8r+bg+bdrs50p */
    top: 2rem;
    left: 2rem;
    width: 3.8rem;
    height: 3.8rem;
    background: rgba(0, 0, 0, 0.3) no-repeat 50%;
    border-radius: 50%;

    z-index: 1;
}

.category-insta {
    background-image: url(../img/ico_w_i.png);
}

.sns-list li a::after {
    content: "";
    position: absolute;
    bottom: 2rem;
    right: -6rem;
    width: 3rem;
    height: 3rem;
    background: url(../img/ico_link02.png) no-repeat 50%;

    opacity: 0;
}

/* 호버 효과 */

.sns-list li:hover a::after {
    opacity: 1;
    right: 2rem;
    transition: 0.4s 0.4s;
}

.sns-list li:hover .sns-con {
    opacity: 1;
}

/* 재무 정보 */

.financial-info-tbl {
    margin-top: 8rem;
}

.financial-info-tbl > p {
    text-align: right; /* tar */
    font-weight: 500;
    font-size: 1.4rem;
}

.financial-info-tbl > table {
    border-top: 3px solid var(--title-color); /* bdt */
    margin-top: 1.6rem;
}

.financial-info-tbl > table colgroup col + col {
    border-left: 1px solid var(--black20);
    /* + col = 첫째만 재외하고 나머지 값에 선을 주는것 */
}

.financial-info-tbl > table thead tr th {
    height: 6rem;
    border-bottom: 1px solid var(--black20);
    vertical-align: middle; /* vam */
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--title-color);

    padding: 0 3.2rem;
}

.financial-info-tbl > table tbody tr th {
    height: 6rem;
    border-bottom: 1px solid var(--black20);
    vertical-align: middle; /* vam */
    font-size: 1.6rem;
    text-align: left;
    padding-left: 3.2rem;
}

.financial-info-tbl > table tbody tr td {
    height: 6rem;
    border-bottom: 1px solid var(--black20);
    vertical-align: middle; /* vam */
    font-size: 1.6rem;
    text-align: center;
}

.financial-info-tbl > table tfoot tr th {
    height: 6rem;
    border-bottom: 1px solid var(--black20);
    vertical-align: middle; /* vam */
    font-weight: 700;
    font-size: 1.6rem;
    text-align: left;
    color: var(--main-color);
    padding-left: 3.2rem;
    background: var(--bg-color);
}

.financial-info-tbl > table tfoot tr td {
    height: 6rem;
    border-bottom: 1px solid var(--black20);
    vertical-align: middle; /* vam */
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    color: var(--main-color);
    background: var(--bg-color);
}

.financial-info-tbl > table .sum > * {
    background: var(--bg-color);
    font-weight: 700;
    color: var(--title-color);
}

/* 로그인  */

.login-wrap {
    width: 66rem;
    margin: 0 auto;
    /* background: #ff5; */
    padding-top: 0 !important;
    text-align: center;
}

.login-wrap h3 {
    font-weight: 700;
    font-size: 5rem;
    color: #000;
}

.login-wrap p {
    margin-top: 1.8rem;
    font-size: 2rem;
}

.select-member {
    /* background: #5f5; */
    margin-top: 5.4rem;
    display: flex;
    justify-content: center;
    gap: 5.6rem;
}

.select-member > div {
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.select-member > div input {
    width: 2rem;
    height: 2rem;
    border: 1px solid #000;
}

.select-member > div label {
    font-weight: 700;
    font-size: 1.8rem;
    color: #000;
}

.f-row {
    /* background: #5f5; */
    margin-top: 5.4rem;
    position: relative;
    height: 6rem;
}

.f-row + .f-row {
    margin-top: 3.2rem;
}

.f-row label {
    position: absolute;
    top: 16px;
    left: 20px;
    font-size: 1.8rem;

    transition: 0.4s;
}

.f-row input {
    width: 100%;
    height: 100%;
    border: 1px solid var(--black20);
    padding: 0 2rem;
    font-size: 1.8rem;

    transition: 0.4s;
}

.f-row input:hover {
    border-color: #000; /* bdc */
}

.f-row input:focus + label {
    /* :focus - 클릭한 상황 */
    background: #fff;
    font-size: 1.2rem;
    top: -7px;
    padding: 0 7px;
}

.btn-login {
    margin-top: 3.2rem;
    width: 100%;
    height: 6rem;
    background: var(--main-color);
    color: #fff;
    font-weight: 600;
    font-size: 2.4rem;
}

.save-id {
    margin-top: 4rem;
}

.save-id > div {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.save-id > div label {
    font-weight: 700;
    gap: 1.8rem;
    color: #000;
}
