@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 디자인 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%; /* maxw: 아무리 커져도 니 크기까지만 커져라 */
}

body {
    font: 16px/1.6 Pretendard, sans-serif;
    word-break: keep-all; /* wdka:어절 단위 줄 바꿈 */
    color: #666;
}

a {
    text-decoration: none; /* tdn */
    color: initial;
}

a:hover {
    text-decoration: none;
    color: #738924;
}

.board {
    /* w1078+m0-a+bg#ff5 */
    width: 1078px;
    margin: 0 auto;
    /* background: #ff5; */
}

.board h1 {
    display: none; /* dn */
}

.board-list {
    /* background: #5f5; */

    display: flex; /* df */
    flex-wrap: wrap; /* fxww: 줄바꿈 */
    gap: 50px 29px; /* g50-29 */
}

.board-list li {
    /* border: 1px solid #000; */

    /* w340+h420 */
    width: 340px;
    height: 420px;
    background: #fff;
    position: relative; /* posr: 직계 자손, 절대배치의 기준점 */
}

.news-item em {
    /* w47+h47+bg#f00 */
    width: 47px;
    height: 47px;
    background: url(../images/ico-not.png) no-repeat 0 0; /* nop */
    display: block; /* db */

    /* posa+t0+l0 */
    position: absolute; /* 블록화 줌 */
    top: 15px;
    left: 20px;
    z-index: 1; /* z1: z값을 올려준거 ,앞으로 가져오기 */

    /*  텍스트 날리기 */
    /* color: transparent; */
    text-indent: -999px; /* ti-999: 글씨를 -999픽셀 만큼 움직임 (왼쪽 기준으로) */
    overflow: hidden; /* oh :클리핑 */
}

.news-item .categoy {
    /* posa+t20+r20+bd+p20 */
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1; /* z1 */

    border: 1px solid #fff;
    padding: 7px 21px;
    color: #fff;
    font-size: 13px;
}

.news-pic {
    height: 240px;
    /* background: red; */

    position: relative; /* posr: 직계자손인 .news-pic::after의 기준  */
    overflow: hidden; /* oh: 나가지는걸 숨김 */
    transition: 0.4s;
}

.news-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* ob: 중요함. 비율을 줄이지 않고 사진을 넣음, 컨네이너는 그 안에 사진으 빈공간을 생성하고 그대로 넣음 */
    object-position: 50% 10%; /* obp: 위에서 그대로 온 사진 위지 조정 순서대로 x값 y값 */

    /* 호버 효과 */
    transition: 0.3s;
}

.news-pic::after {
    content: ""; /* ct */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6; /* op.6 */

    /* 호버 효과 */
    transition: 0.4s;
}

/* 마우스 호버 효과 */
.board-list li:hover .news-pic::after {
    opacity: 0.1; /* op.1 */
}

.board-list li:hover .news-pic img {
    transform: scale(1.2); /* 이미지를 1.2배 확대 */
}
.board-list li:hover .news-pic {
    border-radius: 30px; /* bdrs30: 곡선을 주는거 */
}
.news-con {
    padding: 20px 0 7px; /* p20-0-7 */
}

.news-con h2 {
    /* fw600+fz19+c#222+lh1.4 */
    font-weight: 600;
    font-size: 19px;
    color: #222;
    line-height: 1.4;
}
.news-con p {
    /* mt10+c#999 */
    margin-top: 10px;
    color: #999;

    /* 영역의 크기를 주고 튀어 나가게 한다음에 자르고 숨기게 하는거, 한 줄 말 줄임 */
    /* width: 90%;
    background: yellow;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */

    /* 여러줄 줄임 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 원하는 줄 수 */
    overflow: hidden;
    text-overflow: ellipsis;
}
.news-con time {
    /* fw500+fz12+c#676767 */
    font-weight: 500;
    font-size: 12px;
    color: #676767;

    position: absolute; /* poae */
    bottom: 7px;
    left: 0;
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    width: 281px;
    height: 48px;
    border: 1px solid #c7c8c7;
    color: #676767;

    /* m65-a-0 */
    margin: 65px auto 0;
}

.more::after {
    content: "+"; /* ct */
    color: #000;
}
